/* this is the current style sheet */
@import url('https://css.gg/css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

  :root{
    --header-footer-bc-color: rgb(71, 71, 71);
    --header-footer-font-color: rgb(255, 255, 255);
    --content-bc-color: #e3f2fd;
  }

body {
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-areas:
  'side-bar content'
  'side-bar content'
  'footer footer';
  /* grid-template-columns: repeat(auto-fit,  minmax(10px, 1fr)); */
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 254, 254);
  color: black;
  /* display: flex; */
  /* align-items: center; */
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 10px 24px;
  
}

.logo .menu-icon{
  
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name{
  
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

#sidebar{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 20px;
  /* padding: 14px 12px; */
  gap: 5px;
  /* background-color: rgb(227, 116, 116); */
  height: 90vh;
  /* height: 100vh; */
  width: 25vw;
  grid-area: side-bar;
  color:#707070;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  /* opacity: 0.6; */
}

#sidebar i {
  margin-left: 13px;
  margin-right: 5px;
}

.sidebar_inbox-filters > div{
  display: flex;
  /* padding: 10px 12px; */
  align-items: center;
  gap: 10px;
  cursor: pointer;
  /* width: 25vw; */
}

.sidebar_inbox-filters > div:hover{
  background-color: #4070f4;
  color: white;
  border-radius: 8px;
}

.js-sidebar__projects{
  display: flex;
  flex-direction: column;
  justify-content:left;
  margin-top: 30px;
  padding: 10px 0;
  font-size: 22px;
}

.js-sidebar__projects input {
  border: none;
}
/* , .js-project-name:hover, .js-project-name:hover::placeholder */

.js-project-form:hover{
  background-color: #4070f4;
  color: white;
  border-radius: 8px;
}

.js-new-project:hover {
  background-color: #4070f4;
  color: white;
  border-radius: 8px;
}

.projects{
  align-self: flex-start;
  margin-bottom: 13px;
}
.js-new-project{
  /* margin-left: 13px; */
  /* margin-right: 5px; */
  padding: 8px 5px;
  margin-left: 13px;
  /* margin-right: 5px; */
  margin-top: 10px;
  /* align-self: flex-start; */
  border: none;
  border-radius: 8px;
  background-color:inherit;
  text-align: left;
  color:#707070;
  /* width: 100%; */
}

.js-project-form {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5px;
  /* border: black solid; */
  justify-content: space-between;
}

.js-delete-project-button, .js-save-project-button {
  display: none;
  border: none;
  font-size: 13px;
  padding-right: 15PX;
}

.js-project-form:hover .js-delete-project-button,
.js-project-form:hover .js-project-name,
.js-project-form:hover .js-project-name::placeholder{
  display:block;
  background-color: inherit;
  background-color: #4070f4;
  color: white;
  outline-color: black solid 1px;
  outline-width: thin;
  /* border-radius: 8px; */
}

.js-project-name:focus ~.js-save-project-button ,.js-project-name:focus ~ .js-delete-project-button {
  display: block;
  background-color: inherit;
  color: white;
}

.js-project-name {
  padding: 8px 5px;
  margin-left: 13px;
  width: 50%;
  border: none;
  background-color: inherit;
  /* outline:none; */
  /* margin-top: 10px; */
}

.js-project-name::placeholder {
  font-size: 14px;
  opacity: 0.6;
}

#content{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color:var(--content-bc-color);
  width: 70vw;
  grid-area: content;
  gap: 20px;
}

.project-name {
  text-align: center ;
  height: 1px;
}

.js-new-task-button {
  text-align: center;
  /* padding-left: 20px;
  height: 40px; */
  background-color: inherit;
  border: none;
  font-size: 45px;
  /* border-top: solid rgb(71, 71, 71, 0.5) 1px;
  border-bottom: solid rgb(71, 71, 71, 0.5) 1px; */
}

.js-new-task-button:hover {
  color: #4070f4;
  cursor:pointer;
}

.js-task-container {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  background-color: inherit;
  /* border-top: solid rgb(71, 71, 71, 0.5) 1px;
  border-bottom: solid rgb(71, 71, 71, 0.5) 1px;
  border-right: solid rgb(71, 71, 71, 0.5) 1px; */
  border: solid rgb(71, 71, 71, 0.5) 1px;
}

.js-task-container:hover {
  background-color: #fff;
  transform: rotate(45);
}

.js-task-form {
  display: flex;
  gap: 10px;
  width: 100%;
}

.js-task-input{
  justify-self: flex-start;
  width: 80%;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.js-task-input:focus{
  /* cursor: auto; */
  outline:none;
  background-color: rgb(198, 213, 255);
}

/* .js-task-date {
  justify-self: flex-end;
  border: none;
  width: 150px;
  background-color: inherit;
  outline: none;
} */

.display-task-due-date {
  width: 120px;
  font-size: 12px;
  align-self: center;
}

.display-task-priority {
  font-size: 12px;
  align-self: center;
}

.js-task-checkbox {
  justify-self: flex-start;
  width: 25px;
  background-color: inherit;
}

.js-edit-task-button{
  width: 30px;
  border: none;
  background: inherit;
  background-image: url(./images/edit-solid-24.png);
  background-repeat: no-repeat;
}

.js-delete-task-button {
  border: none;
  background-color: inherit;
  width: 30px;
  background-image: url(./images/trash-regular-24.png);
  background-repeat: no-repeat;
}

.task-modal{
  
  width: 500px;
  background-color: rgb(62, 62, 62);
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0/ .3);
  color: white;
  /* max-width: 50ch; */
  margin-top: 10vh;
}

.task-modal .task-title, .task-description {
  border: none;
  background-color: inherit;
  overflow: auto;
  resize: none;
  color: white;
}
.task-modal :focus {
  outline: none;
  background-color: inherit;
  color: white;
}

.task-title {
  margin: 15px 0;
}

.task-description {
  height: 100%;
}

.task-modal input[type=text]::placeholder{
  color:#707070;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
}

.task-priority {
  display: flex;
  gap: 15px;
}

.priority-button {
  width: 100px;
  text-align: center;
}

.priority-button label,
.priority-button input {
  display: block;
  cursor:pointer;
}

input[type=radio]{
  margin: 0 10px;
  appearance: none;
}


#priority-low:checked + label, #priority-low:hover + label{
  background: rgba(0, 128, 0, 0.7);
  border-radius: 4px;
}
#priority-medium:checked + label, #priority-medium:hover + label {
  background: rgba(255, 166, 0, 0.7);
  border-radius: 4px;
}
#priority-high:checked + label, #priority-high:hover + label {
  background: rgba(255, 0, 0, 0.7);
  border-radius: 4px;
}

#task-date {
  background-color: inherit;
  border: #4070f4 solid 2px;
  border-radius: 4px;
  outline: none;
  color: white;
  margin-left: 10px;
  text-align: center;
  padding: 5px;
  appearance: none;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.task-modal::backdrop{
  /* background:linear-gradient(45deg, red , blue);
  opacity: 0.3; */
  background-color: rgba(0, 0, 0, 0.5);
}

#footer{
  background-color: var(--header-footer-bc-color);
  color: var(--header-footer-font-color);
  grid-area: footer;
  height: 5vh;
}